{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peupasswd | Advanced Password Security Software</title>
        <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
        <meta http-equiv="Pragma" content="no-store, no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        
         <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">   
        <meta name="keywords" content="devfemibadmus, kcubeterm, password, password generator, security">
        <meta name="description" content="Peupasswd is an advanced password security software written in python use in generating  unique password for each of each service i.e you can generate special password for each of your social media or services with just one master password." />
    
        <!-- Media Sharing -->
        <meta property="og:title" content="Peupasswd Advanced Password Security Software" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://Peupasswd.kcubeterm.com"/>
        <meta property="og:description" content="Peupasswd is an advanced password security software written in python use in generating  unique password for each of each service i.e you can generate special password for each of your social media or services with just one master password." />
        <meta property="og:image" content="static/devfemibadmus.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@kcubeterm" />
        <meta name="twitter:creator" content="@devfemibadmus" />
        <meta name="twitter:image" content="static/devfemibadmus.png" />
        <meta name="twitter:title" content="Peupasswd Advanced Password Security Software" />
        <meta name="twitter:description" content="Peupasswd is an advanced password security software written in python use in generating  unique password for each of each service i.e you can generate special password for each of your social media or services with just one master password." />

    
        <!-- App Styling -->
        <link rel="icon" href="{% static 'peupasswd.png' %}">
        <link rel="stylesheet" href="{% static 'peupasswd.css' %}" media="screen"/>
   
        <!-- App Scripting -->
        <script class="u-script" type="text/javascript" src="{% static 'peupasswd.js' %}" defer=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    </head>
    <body>
      <div class="all">
        <div class="container first">
          <h1 class="peupasswd"><strong>Peupasswd</strong> Advanced Password Security Software</h1>
          <p><a href="https://github.com/devfemibadmus/Peupasswd" class="peupasswd">Peupasswd</a> is an advanced password security software written in python use in generating unique password for each of each service i.e you can generate special password for each of your social media or services with just one master password; see also <a href="https://github.com/kcubeterm/neupasswd">neupasswd</a></p>
    
          <h2>How It Works</h1>
          <p><a href="https://github.com/devfemibadmus/Peupasswd" class="peupasswd">Peupasswd</a> takes in a master password, the service name you wanna use the password for and the length of the password u want(never worry about the length you can choose as much as possible you dont need to cram it). Then it encrypt the master password in a way you can nerver guess of. Also you can retrieve/check ur passwordagain by doing same way.</p>
    
          <h2>Instructions:-</h2>
          <li>Go <a href="#Peupasswd">here.</a></li>
          <li>Create a master password in your brain.</li>
          <li>Enter the master password.</li>
          <li>Enter the service name <span class="note">note: you will need this when trying to check/retrieve password</span>.</li>
          <li>Enter the length you want ur password to be.</li>
          <li>Now click generate to generate the unique password. you can always generate the same password later by simply giving the same master password and service name. but no one could generate the same password as long as you dont share your master password to anyone. this is why I call it Advanced Password Security Software.</li>
        </div>
        <div class="container" id="peupasswd">
          <h1 class="peupasswd"><strong>Peupasswd</strong> Advanced Password Security Software</h1>
          <form name="myForm" autocomplete="off" onsubmit="return peupasswd(event, this)" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="password" id="mpass" placeholder="Master password"/>

            <input type="text" name="service" id="service" placeholder="Service Name e.g instagram"/>

            <input type="number" name="plength" id="length" value="12" min="5" max="30"/>

            <input type="submit" name="submit" value="Generate"/>
          </form>
          <a><p>Peupasswd: <span style="color: red; text-decoration:underline;font-style:italic;" id="result"></span></p></a>
        </div>
      </div>
    </body>
</html>
